@charset "UTF-8";
/********** VARIAVEIS - GLOBAIS **********/
/********** CONFIGURAÇÕES **********/
/* line 10, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/main.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* line 16, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/main.scss */
html {
  scroll-behavior: smooth;
}

/* line 20, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/main.scss */
ul, li {
  list-style: none;
}

/* line 24, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/main.scss */
img {
  display: block;
  max-width: 100%;
}

/* line 29, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/main.scss */
a {
  text-decoration: none;
}

/********** MIXINS **********/
/********** MONSTAGEM PÁGINA **********/
/* line 1, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/_header.scss */
.header {
  height: 50vh;
}

/* line 5, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/_header.scss */
.menu__bar {
  width: 46px;
  position: fixed;
  top: 45px;
  left: 20px;
  z-index: 2;
  cursor: pointer;
}

@media (max-width: 420px) {
  /* line 5, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/_header.scss */
  .menu__bar {
    width: 40px;
    top: 20px;
    left: 20px;
  }
}

/* line 20, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/_header.scss */
.img__picture--logo {
  display: flex;
  justify-content: center;
  margin: 0 1rem;
}

/* line 26, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/_header.scss */
.img__logo {
  width: 340px;
  margin: 0rem 2rem;
}

@media (max-width: 420px) {
  /* line 26, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/_header.scss */
  .img__logo {
    width: 300px;
    margin: 0 1rem;
  }
}

/* line 37, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/_header.scss */
.nav__itens {
  position: fixed;
  top: 100px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: .2rem;
  align-items: center;
  z-index: 1;
  display: none;
  animation: delay .5s forwards;
}

@media (max-width: 420px) {
  /* line 37, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/_header.scss */
  .nav__itens {
    top: 70px;
  }
}

@keyframes delay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* line 66, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/_header.scss */
.nav__itens.ativo {
  display: flex;
}

@media (max-width: 420px) {
  /* line 66, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/_header.scss */
  .nav__itens.ativo {
    display: block;
  }
}

/* line 74, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/_header.scss */
.nav__item {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.4rem;
  background-color: #00B2D1;
  padding: .5rem;
  border: 1px solid #000;
  color: #000;
}

/* line 82, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/_header.scss */
.nav__item:hover {
  background-color: #000;
  color: #fff;
  transition: all .5s;
}

@media (max-width: 420px) {
  /* line 74, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/_header.scss */
  .nav__item {
    font-size: 1rem;
    text-align: center;
  }
}

/* line 1, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/_banner-cabecalho.scss */
.banner__cabecalho {
  height: 70vh;
  background-color: #000;
}

@media (max-width: 420px) {
  /* line 1, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/_banner-cabecalho.scss */
  .banner__cabecalho {
    height: 42vh;
  }
}

/* line 10, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/_banner-cabecalho.scss */
.banner__fotos {
  position: relative;
  padding: 1rem 1rem;
  display: flex;
  justify-content: center;
  background-color: darkgreen;
}

/* line 20, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/_banner-cabecalho.scss */
.banner__fotos {
  background-color: #000;
}

/* line 24, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/_banner-cabecalho.scss */
.banner__img {
  position: absolute;
  height: 420px;
  opacity: 0;
  transition: opacity 900ms;
}

@media (max-width: 420px) {
  /* line 24, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/_banner-cabecalho.scss */
  .banner__img {
    width: 320px;
    height: 200px;
  }
}

/* line 36, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/_banner-cabecalho.scss */
.banner__img.selected {
  opacity: 1;
}

/* line 1, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/_otica-info.scss */
.otica__info {
  padding: 2rem 0;
  background-color: #e9e9e9;
}

/* line 6, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/_otica-info.scss */
.otica__info__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/* line 13, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/_otica-info.scss */
.otica__info--card {
  padding: .7rem;
  box-shadow: 5px 5px 2px #002F5D;
  width: 200px;
  border-radius: 6px;
}

/* line 19, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/_otica-info.scss */
.otica__info--card:hover {
  border-radius: 20px;
  transition: all .5s;
  box-shadow: 1px 1px 20px #002F5D;
  background-color: #fff;
}

/* line 27, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/_otica-info.scss */
.otica__info--ico {
  width: 80px;
  margin: .5rem auto;
}

/* line 33, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/_otica-info.scss */
.otica__info--titulo {
  font-family: "Didact Gothic", sans-serif;
  text-align: center;
  margin-bottom: .5rem;
}

/* line 39, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/_otica-info.scss */
.otica__info--link {
  font-size: 1.1rem;
  font-family: "Yanone Kaffeesatz", sans-serif;
  background-color: #00B2D1;
  color: #fff;
  padding: .5rem;
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
}

/* line 50, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/_otica-info.scss */
.otica__info--link:hover {
  background-color: #000;
  color: #fff;
  transition: all .5s;
}

/* line 1, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/catalogo-fem/_catalogo-feminino.scss */
.catalogo__feminino {
  background-color: #00B2D1;
  border-top: 1px solid #002F5D;
}

/* line 6, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/catalogo-fem/_catalogo-feminino.scss */
.catalogo__fem--cabecalho {
  padding: 4rem 0;
  position: relative;
}

/* line 15, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/catalogo-fem/_catalogo-feminino.scss */
.catalogo__fem--titulo {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 10rem;
  margin-left: 4rem;
}

@media (max-width: 420px) {
  /* line 15, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/catalogo-fem/_catalogo-feminino.scss */
  .catalogo__fem--titulo {
    font-size: 5rem;
    margin-left: 2rem;
  }
}

/* line 27, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/catalogo-fem/_catalogo-feminino.scss */
.catalogo__fem--titulo2 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 10rem;
  margin-left: 20rem;
}

@media (max-width: 420px) {
  /* line 27, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/catalogo-fem/_catalogo-feminino.scss */
  .catalogo__fem--titulo2 {
    font-size: 5rem;
    margin-left: 4rem;
  }
}

/* line 38, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/catalogo-fem/_catalogo-feminino.scss */
.catalogo__picture--ico {
  width: 300px;
  position: absolute;
  top: -20px;
  right: 450px;
}

@media (max-width: 420px) {
  /* line 38, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/catalogo-fem/_catalogo-feminino.scss */
  .catalogo__picture--ico {
    width: 100px;
    top: 0px;
    right: 4px;
  }
}

/* line 51, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/catalogo-fem/_catalogo-feminino.scss */
.catalo__fem--tituloLinks {
  font-family: "Yanone Kaffeesatz", sans-serif;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}

/* line 58, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/catalogo-fem/_catalogo-feminino.scss */
.catalogo__fem--btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* line 65, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/catalogo-fem/_catalogo-feminino.scss */
.catalogo__fem--link {
  background-color: #e9e9e9;
  padding: .5rem;
  display: flex;
  align-items: center;
  gap: .4rem;
  border-radius: 20px;
}

/* line 74, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/catalogo-fem/_catalogo-feminino.scss */
.catalogo__fem--icoLink {
  width: 50px;
}

/* line 78, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/oticas/scss/catalogo-fem/_catalogo-feminino.scss */
.catalogo__fem--nomeLink {
  font-family: "Didact Gothic", sans-serif;
  color: #000;
  font-size: 1.2rem;
}

/*# sourceMappingURL=main.css.map */