.header {
    height: 50vh;
}

.menu__bar {
    width: 46px;
    position: fixed;
    top: 45px;
    right: 20px;
}

.img__logo {
    width: 250px;
}

.nav__itens {
    position: fixed;
    top: 100px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    background-color: aquamarine;

}



