.header {
    height: 50vh;
}

.menu__bar {
    width: 46px;
    position: fixed;
    top: 45px;
    right: 20px;
}

.img__logo {
    width: 280px;
    margin: 0rem 2rem;
}

.nav__itens {
    position: fixed;
    top: 100px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    align-items: center;
    z-index: 1;
    display: none;
    animation: delay .5s forwards;
}

@keyframes delay {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;   
    }
}

.nav__itens.ativo {
    display: flex;
}

.nav__item {
    font-family: $fonte-titulo;
    font-size: 1.4rem;
    background-color:$cor-principal;
    padding: .5rem;
    border: 1px solid #000;
    color: #000;

        &:hover {
            background-color:#000;
            color: #fff;
            transition: all .5s;
        }
}



