.catalogo__feminino {
    background-color: $cor-principal;
    border-top: 1px solid $cor-links;
}

.catalogo__fem--cabecalho {
    // height: 48vh;
    padding: 4rem 0;
    // display: flex;
    // flex-wrap: wrap;
    // gap: 5rem;
    position: relative;
}

.catalogo__fem--titulo {
    font-family: $fonte-titulo;
    font-size: 10rem;
    margin-left: 4rem;

        @include celular {
            font-size: 5rem;
            margin-left: 2rem;
        }

}

.catalogo__fem--titulo2 {
    font-family: $fonte-titulo;
    font-size: 10rem;
    margin-left: 20rem;

    @include celular {
        font-size: 5rem;
        margin-left: 4rem;
    }
}

.catalogo__picture--ico {
    width: 300px;
    position: absolute;
    top: -20px;
    right: 450px;

        @include celular {
            width: 100px;
            top: 0px;
            right: 4px;
        }
}

.catalo__fem--tituloLinks {
    font-family: $fonte-titulo;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.catalogo__fem--btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.catalogo__fem--link {
    background-color: $cor-cards;
    padding: .5rem;
    display: flex;
    align-items: center;
    gap: .4rem;
    border-radius: 20px;
}

.catalogo__fem--icoLink {
    width: 50px;
}

.catalogo__fem--nomeLink {
    font-family: $fonte-corpo;
    color: #000;
    font-size: 1.2rem;
}
