.catalogo__fem--btnBox {
    padding-bottom: 2rem;
}

.catalogo__fem--tituloLinks {
    font-family: $fonte-titulo;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.catalogo__fem--btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

        @include celular {
            flex-wrap: wrap;
            gap: .5rem;
        }
}

.catalogo__fem--link {
    background-color: $cor-cards;
    padding: .5rem;
    display: flex;
    align-items: center;
    gap: .4rem;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #000;
    border: 1px solid #000;

        &:hover {
            background-color: $cor-links;
            border: 1px solid #fff;
            transition: all .6s;
            box-shadow: 5px 5px 10px #fff;
        }

        &:hover .catalogo__fem--nomeLink {
            color: #fff;
            
        }
}

.catalogo__fem--icoLink {
    width: 50px;

        @include celular {
            width: 30px;
        }
}

.catalogo__fem--nomeLink {
    font-family: $fonte-corpo;
    color: #000;
    font-size: 1.2rem;
}

/***** CATALOGO FEMININO - ÓCULOS DE GRAU  *****/
.catalogo__fem--grau {
    background-color: $cor-cards;
    height: 120vh;

        @include celular {
            height: 135vh;
        }
}



.catalogo__fem--grauTitulo {
    font-family: $fonte-titulo;
    font-size: 4rem;
    text-align: center;
    padding: 3rem 0;
}

.fem__card--grau {
    border: 2px solid #000;
    background-color: $cor-principal;
    border-radius: 5%;
    padding-bottom: 1rem;
}

.fem__card--img {
    width: 280px;
    margin: .5rem auto;
    border-radius: 10%;
    border: 1px solid #000;
}

.fem__card--nome {
    font-family: $fonte-corpo;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}
.fem__card--precos {
    margin-bottom: 1rem;
}

.fem__card--preco {
    font-family: $fonte-corpo;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}

.fem__card--juros {
    font-family: $fonte-corpo;
    font-size: 1rem;
    text-align: center;
}

.fem__card--links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.fem__card--detalhes {
    padding: .5rem;
    background-color: $cor-links;
    color:#fff;
    font-family: $fonte-titulo;
    font-size: 1.5rem;
    border-radius: 10%;
    border: 1px solid #fff;
    cursor: pointer;

        &:hover {
            background-color: $cor-cards;
            transition: all .5s;
            border: 1px solid #000;
            color: #000;
        }    
}

.fem__card--a {
    padding: .5rem;
    background-color: $cor-links;
    color:#fff;
    font-family: $fonte-titulo;
    font-size: 1.5rem;
    border-radius: 10%;
    border: 1px solid #fff;

        &:hover {
            background-color: $cor-cards;
            transition: all .5s;
            border: 1px solid #000;
            color: #000;
        }
}


/***** MODAL BOX  *****/
.modal__card--grau {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(131, 131, 131);
    width: 100%;
    height: 100%;

    display: none;
}

.modal__card--grau.ativo {
    display: block;
}

.modal__card--box {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    place-content: center;
    background-color: #fff;
    margin: 2rem;
    border-radius: 30px;
    box-shadow: 1px 1px 10px #000;
}

.modal__card--box {
    display: grid;
    grid-template-columns: 400px 600px;
    justify-content: center;
    

        @include celular {
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            justify-items: center;
        }
    
}

.modal__card--grau {
   
}

.modal__card--fotos {
    display: flex;
    align-items: center;
    gap: .4rem;
    border: 1px solid #000;
    border-radius: 6px;
    width: 340px;
    padding: 4px;
    box-shadow: 1px 1px 10px #000;
}

.modal__card--fotosPeq {
    display: flex;
    flex-direction: column;
    gap: .4rem;

}

.img-peq-grauFem {
    width: 80px;
    border-radius: 10px;
    opacity: .7;
    border: 1px solid #000;
    cursor: pointer;
    

        &:hover {
            opacity: 1;
            transition: all .6s;
        }
}

.img-gra-grauFem {
    width: 280px;
    border-radius: 4px;
}

.modal__card--infoBox {
    margin: 0rem .4rem;
}

.modal__card--titulo {
    font-family: $fonte-titulo;
    font-size: 2rem;
    margin-bottom: 1rem;

        @include celular {
            margin-top: 1.5rem;
        }
}

.modal__card--precoBox {
    margin-bottom: 1rem;
}

.modal__card--preco {
    font-family: $fonte-corpo;
    font-size: 2rem;
}

.modal__card__juros {
    font-family: $fonte-corpo;
    font-size: 1.2rem;
}

.modal__card--link {
    font-family: $fonte-titulo;
    background-color: $cor-links;
    color: #fff;
    font-size: 1.6rem;
    padding: .3rem;
    border-radius: 10px;
    border: 2px solid #fff;
    margin-bottom: 1rem;
    width: 100px;
    text-align: center;

        &:hover {
            background-color: $cor-cards; 
            border: 2px solid #000;
            color: #000;
            transition: all .5s;
        }
}

.modal__card--descBox {
    margin-bottom: 1rem;
}

.modal__card--descTitulo {
    font-family: $fonte-corpo;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.modal__card--descP {
    font-family: $fonte-corpo;
}

.modal__card--caracteristicaTitulo {
    font-family: $fonte-corpo;
    text-transform: uppercase;
    font-size: 1.3rem;
}


.modal__card--caracteristicaItens {
    font-family: $fonte-corpo;
}












/***** SWIPER SLIDER  *****/
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 600px;
  }

//   .swiper-slide img {
//     display: block;
//     width: 100%;
//   }