.catalogo__feminino {
    background-color: $cor-principal;
    border-top: 1px solid $cor-btn;
}

.catalogo__fem--cabecalho {
    padding-top: 4rem;
    position: relative;
    display: flex;
    justify-content: center;
}

.catalogo__fem--titulo {
    font-family: $fonte-titulo;
    font-size: 10rem;

        @include celular {
            font-size: 5rem;
            margin-left: 2rem;
        }

}

.catalogo__fem--titulo2 {
    font-family: $fonte-titulo;
    font-size: 10rem;

    @include celular {
        font-size: 5rem;
        margin-left: 4rem;
    }
}


.catalogo__fem--btnBox {
    padding-bottom: 2rem;
}

.catalogo__fem--tituloLinks {
    font-family: $fonte-titulo;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.catalogo__fem--btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

        @include celular {
            flex-wrap: wrap;
            gap: .5rem;
        }
}

.catalogo__fem--link {
    background-color: $cor-cards;
    padding: .5rem;
    display: flex;
    align-items: center;
    gap: .4rem;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #000;
    border: 1px solid #000;

        &:hover {
            background-color: $cor-btn;
            border: 1px solid #fff;
            transition: all .6s;
            box-shadow: 5px 5px 10px #fff;
        }

        &:hover .catalogo__fem--nomeLink {
            color: #fff;
            
        }
}

.catalogo__fem--icoLink {
    width: 50px;

        @include celular {
            width: 30px;
        }
}

.catalogo__fem--nomeLink {
    font-family: $fonte-corpo;
    color: #000;
    font-size: 1.2rem;
}

/***** CATALOGO FEMININO - ÓCULOS DE GRAU  *****/
.catalogo__fem--grau {
    height: 150vh;
    background: #fff;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
        @include celular {
            // height: 110vh;
        }
}

.catalogo__fem--grauTitulo {
    font-family: $fonte-titulo;
    font-size: 4rem;
    text-align: center;
    padding-top: 3rem;
    color: $cor-btn;
    margin-bottom: 3rem;
}

.catalogo__fem--cards {
    display: flex;
    justify-content: center;
    gap: 1.3rem;
    flex-wrap: wrap;

}

.fem__card--grau {
    width: 300px;
    height: 25rem; /* 400px */
    background: rgba(193, 193, 193, 0.83);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(193, 193, 193, 1);
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 1px 1px 5px 1px #000;
}

.fem__card--GrauBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
    padding-bottom: .4rem;
    padding: .4rem;
}

.fem__card--imgsPeq {
    padding: .4rem 0rem;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: .3rem;
    cursor: pointer;
}

.fem__card--imgPeq {
    width: 70px;
    opacity: .7;
    border-radius: 5px;
    border: 1px solid #000;

    &:hover {
        opacity: 1;
        transition: all .5s;
        border-radius: 0px;
    }
}

.fem__card--imgGra {
    width: 260px;
    border-radius: 10px;
    border: 1px solid #000;

    &:hover {
        transition: all .5s;
        border-radius: 0px;
    }
}

.fem__card--info {
    background-color: $cor-section;
    padding-bottom: 1rem;
}

.fem__card--nomeBox {
    margin-top: 1rem;
}

.fem__card--nome {
    font-family: $fonte-corpo;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #fff;
}

.fem__card--precos {
    background-color: $cor-section;
    color: #fff;
    margin: 0 auto;
    padding: .5rem 0rem;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 10%;
    border: 2px solid #fff;
    box-shadow: 0px 2px 5px 1px #000;
}

.fem__card--preco {
    font-family: $fonte-corpo;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}

.fem__card--juros {
    font-family: $fonte-corpo;
    font-size: 1rem;
    text-align: center;
}
.fem__detalhes--saibaMais {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    
}

.fem__detalhes--saibaMais p {
    font-family: $fonte-titulo;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;

    background-color: $cor-btn;
    padding: .4rem;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 5px 2px #000;
    color: #fff;
}

.fem__detalhes--saibaMais a {
    font-family: $fonte-titulo;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;

    background-color: $cor-principal;
    padding: .4rem;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px #000;
    color: #fff;
}

.fem__card--detalhesMenuLink {
    font-family: $fonte-titulo;
    font-size: 1.5rem;
    background-color: $cor-section;
    color: #fff;
    padding: .4rem;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #fff;
}

.fem__card--detalhesDescricao {
    padding: .4rem;
    margin-top: .5rem;
    background-color: #c1c1c1;
    border: 1px solid #000;
    display: none;
}

.fem__card--detalhesDescricao p {
    margin-bottom: .4rem;
    font-family: $fonte-corpo;
}

.fem__card--detalhes {
    background-color: #c1c1c1;
    display: none;
}


/***** SWIPER SLIDER  *****/

